<nav class="bg-white sticky top-0 w-full z-20 border-b border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between container py-4">
    <a routerLink="/" class="flex items-center space-x-3">
      <img src="assets/logo.png" class="h-16" alt="logo">
    </a>
    <div class="flex items-center md:order-2 space-x-3">
      <app-button routerLink="/signup"> Get started </app-button>
      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm md:hidden" aria-controls="navbar-sticky"
        aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <i class="ri-menu-line ri-2x"></i>
      </button>
    </div>
  </div>
</nav>
